.wordle-tiles {
    min-width: 512px;
}

.choices-table {
    margin-bottom: 16px;
    background-color: var(--mat-sys-surface-container-low);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.5);
}

.choice-form-field {
    min-width: 320px;
}

.choices-table-cell-name {
    min-width: 216px;
}

.choices-table-cell-header {
    min-width: 128px;
}

.choices-table-cell-correct {
    background-color: var(--green-success);
    color: var(--green-on-success);
}

.choices-table-cell-incorrect {
    background-color: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
}

.choices-table-cell-partial {
    background-color: var(--yellow-warn);
    color: var(--yellow-on-warn);
}

.choices-table-cell-icon {
    vertical-align: bottom;
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.choices-table-cell-list-item {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
}

.choices-table-cell-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 64px;
}

.restart-button {
    font-size: var(--mat-sys-label-medium);
}

.attempts-counter {
    margin-bottom: 16px;
}
.hint-container {
    max-width: 320px;
    margin-bottom: 16px;
    text-align: center;

    .hint-button {
        // background-color: var(--mat-sys-primary);
        // color: var(--mat-sys-on-primary);
        box-shadow: 0px 0px 4px -1px var(--mat-sys-shadow);
    }
    .hint-text-label {
        margin-bottom: 8px;
    }
    .hint-text {
        font-style: italic;
    }
    .hint-text-container {
        border: solid 1px;
        padding: 8px;
        border-radius: 3px;
    }
}