.choice-correct {
    color: var(--green-success);
}

.choice-incorrect {
    color: var(--mat-sys-error);
}

.character-choice {
    text-decoration: underline;
}

.character-choice-container {
    font-size: 24px;
    margin-bottom: 16px;
}

.daily-reset-timer {
    margin-bottom: 16px;
}