<div class="center-wrapper">
    <h1>{{ 'daily.title' | translate }}</h1>
    <div class="character-text-container">
        @if (finalCharacter != '') {
            <h2 [class.choice-correct]="character.name == finalCharacter"
                [class.choice-incorrect]="character.name != finalCharacter">Today's character was <span class="character-choice">{{ character.name }}</span>
            </h2>
        }
    </div>
    <app-wordle [data]="characterData"
    [character]="character"
    [enableHints]="false"
    [currentAttempts]="currentAttempts"
    [gameOver]="gameOver"
    [characterChoices]="characterChoices"
    [saveProgress]="saveProgress"
    (gameCompleted)="onGameCompleted($event)"></app-wordle>
</div>
