.choice-correct {
    color: var(--green-success);
}

.choice-incorrect {
    color: var(--mat-sys-error);
}

.character-choice {
    text-decoration: underline;
}

.character-text-container {
    min-height: 69px;
}