<div class="center-wrapper">
    <div class="page-header-container">
        <h1 class="page-header">{{ 'daily.title' | translate }}</h1>
    </div>
    
        @if (finalCharacter != '') {
            <div class="character-choice-container">
                <span [class.choice-correct]="character.name == finalCharacter"
                    [class.choice-incorrect]="character.name != finalCharacter">Today's character was <span class="character-choice">{{ character.name }}</span>
                </span>
            </div>
        }
   
    <app-wordle [data]="characterData$ | async"
    [character]="character"
    [enableHints]="false"
    [currentAttempts]="currentAttempts"
    [gameOver]="gameOver"
    [characterChoices]="characterChoices"
    [saveProgress]="saveProgress"
    (gameCompleted)="onGameCompleted($event)"></app-wordle>
</div>
