<div class="center-wrapper">
    <div class="page-header-container">
        <h1 class="page-header">{{ 'endless.title' | translate }}</h1>
    </div>
    @if (finalCharacter != '') {
        <div class="character-choice-container">
            <span [class.choice-correct]="character.name == finalCharacter"
                [class.choice-incorrect]="character.name != finalCharacter">The character was <span class="character-choice">{{ character.name }}</span>
            </span>
        </div>
        @if ((characterData$ | async); as data) {
            <button mat-flat-button class="restart-button" (click)="updateCharacter(data)">{{ character.name == finalCharacter ? 'Continue' : 'Restart' }}</button>
        }
    }
    <app-wordle
        [data]="characterData$ | async"
        [character]="character"
        (gameCompleted)="onGameCompleted($event)"></app-wordle>
    <div class="score-container">
        <span>Current streak: <span class="score-counter">{{ score }}</span></span>
        <span class="divider"></span>
        <span>Highest streak: <span class="score-counter">{{ maxScore }}</span></span>
    </div>
</div>