.choice-correct {
    color: var(--green-success);
}

.choice-incorrect {
    color: var(--mat-sys-error);
}

.character-choice {
    text-decoration: underline;
}

.score-text {
    margin-bottom: 16px;
}

.score-counter {
    text-decoration: underline;
}

.restart-button {
    margin-bottom: 16px;
}