<div class="center-wrapper">
    <div class="page-header-container">
        <h1>{{ 'home.title' | translate }}</h1>
    </div>
    <div>
        <mat-card routerLink="/daily" class="gamemode-select-card">
            <mat-card-header appearance="outlined">
                <mat-card-title>{{ 'daily.title' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content><p>{{ 'daily.description' | translate }}</p></mat-card-content>
        </mat-card>
        <mat-card routerLink="/endless" class="gamemode-select-card">
            <mat-card-header appearance="outlined">
                <mat-card-title>{{ 'endless.title' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content><p>{{ 'endless.description' | translate }}</p></mat-card-content>
        </mat-card>
    </div>
</div>
